.h5, h5 {
    font-size: 1.25rem;
    margin-top: 15px;
    margin-left: 2.5px;
}

.jumbotron {
    background-color: rgba(35, 178, 255, 0.6);
    padding: 1rem 1rem;
    width: 50%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin-left: 25%;
}

.btn {
    margin-top: 10px;
    border-radius: inherit;
    padding-right: 50px;
}

